/ABCDEFGHIJKLMNOPQRSTUVWXYZ.txt
/animation.map
/Master System - Sonic the Hedgehog - Green Hill Zone.zip
/SonicGB.gbc
/SonicGB.zip
/WOOMY - Copy (2) (minimum nodes).gbc
/WOOMY - Copy - Copy (5500000).gbc
/WOOMY - Copy.gbc
/WOOMY.bi4
/WOOMY.cdb
/WOOMY.map
/WOOMY.sav
/WOOMY3.gbc